.home {
	background: #e9e9e9;
	padding: 20px 40px 20px 20px;
	font-size: 36px;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	right: 0;
}

.fa-search {
	float: right;
}

.fa-comments-o {
	color: #0D22FF;
	padding-right: 5px;
}

.uploaded{
	padding: 105px 10px 20px 20px;
	font-size: 24px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}

hr {
	display: block;
	margin-top: 35px;
	margin-bottom: 35px;
	clear: both;
}

.buttons {
	display: flex;
	justify-content: center;
}

.popular{
	padding: 10px 10px 10px 10px;
	font-size: 24px;
	background-color: #0DFF22;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	border-radius: 8px;
	border-width: 3px;
	border-color: #0DFF22;
	border-style: solid;
	margin-bottom: 25px;
}

.starred{
	padding: 10px 10px 10px 10px;
	font-size: 24px;
	background-color: #ffffff;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	margin-bottom: 25px;
	margin-left: 5px;
}

.Book_container {
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	margin: 0 1.5%;
	display: inline-flex;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	width: 200px;
	height: 300px;
	background-image: url("https://static.pexels.com/photos/33688/delicate-arch-night-stars-landscape.jpg");
	background-position: center;
}

.Book_container #text {
	color: white;
	margin-left: 5%;
	margin-top: 68%;
}

.Book_container #text:hover {
	color: #0DFF22;
}

.Book_container2 {
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	margin: 0 1.5%;
	display: inline-flex;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	width: 200px;
	height: 300px;
	background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/1_main_pia21423-png.png");
	background-position: center;
}

.Book_container2 #text {
	color: white;
	margin-left: 20%;
	margin-top: 68%;
}

.Book_container2 #text:hover {
	color: #0DFF22;
}

.Book_container3 {
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	margin: 0 1.5%;
	display: inline-flex;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	width: 200px;
	height: 300px;
	background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/darkrift-orig_full.jpg");
	background-position: center;
}

.Book_container3 #text {
	color: white;
	margin-left: 20%;
	margin-top: 68%;
}

.Book_container3 #text:hover {
	color: #0DFF22;
}

.Book_container4 {
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	margin: 0 1.5%;
	display: inline-flex;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	width: 200px;
	height: 300px;
	background-image: url("https://i.ytimg.com/vi/qyEzsAy4qeU/maxresdefault_live.jpg");
	background-position: center;
}

.Book_container4 #text {
	color: white;
	margin-left: 12%;
	margin-top: 68%;
}

.Book_container4 #text:hover {
	color: #0DFF22;
}

.Book_container5 {
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	margin: 0 1.5%;
	display: inline-flex;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	width: 200px;
	height: 300px;
	background-image: url("https://i.cbc.ca/1.4282951.1505153013!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_620/storm-irma.jpg");
	background-position: center;
}

.Book_container5 #text {
	color: white;
	margin-left: 12%;
	margin-top: 68%;
}

.Book_container5 #text:hover {
	color: #0DFF22;
}

.annotation {
	padding: 10px 10px 10px 10px;
	width: 200px;
	height: 300px;
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	display: inline-block;
	margin: 0 1.5% 2.5%;
	float: left;
}

.annotation2 {
	padding: 10px 10px 10px 10px;
	width: 200px;
	height: 300px;
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	display: inline-block;
	margin: 0 1.5% 2.5%;
	float: left;
}

.annotation3 {
	padding: 10px 10px 10px 10px;
	width: 200px;
	height: 300px;
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	display: inline-block;
	margin: 0 1.5% 2.5%;
	float: left;
}

.annotation4 {
	padding: 10px 10px 10px 10px;
	width: 200px;
	height: 300px;
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	display: inline-block;
	margin: 0 1.5% 2.5%;
	float: left;
}

.annotation5 {
	padding: 10px 10px 10px 10px;
	width: 200px;
	height: 300px;
	border-radius: 8px;
	border-width: 3px;
	border-color: #e9e9e9;
	border-style: solid;
	display: inline-block;
	margin: 0 1.5% 2.5%;
	float: left;
}
