		#Menu {
			background: #e9e9e9;
			padding: 20px 20px 20px 20px;
			font-size: 36px;
			font-family: 'Oxygen', sans-serif;
			font-weight: bold;
			position: fixed;
			z-index: 999;
			left: 0;
			top: 0;
			right: 0;
			display: flex;
			justify-content: space-between;}

		.fa-comments-o {
			color: #0D22FF;}

		.fa-eye-slash {
			color: #FF0D61;}

		.fa-eye-slash:hover {
			cursor: pointer;
		}

		.fa-eye {
			color: #FF0D61;}

		.fa-eye:hover {
			cursor: pointer;
		}

		#All.collapse .fa-thumbs-o-up {
			display: none;}

		#respond {
			display: none;}

		#All.collapse .fa-question-circle-o {
			display: none;}

		#All.collapse .fa-smile-o {
			display: none;}

		#All.collapse .fa-eye {
			display: none;}

		#All .fa-eye-slash {
			display: none;}

		#All.collapse .fa-eye-slash {
			display: inline;}

		.fa-code-fork {
			color: #0DFF22;}

		#Article {
			font-size: 20px;
			font-family: 'Oxygen', sans-serif;
			margin-top: 100px;
			margin-bottom: 30px;
			margin-right: 80px;
			margin-left: 80px;}

		#Article h1 {
			font-size: 36px;
			font-family: 'Oxygen', sans-serif;
			font-weight: bold;
			text-align: center;
		}

		#Article h2 {
			font-size: 24px;
			font-family: 'Oxygen', sans-serif;
			text-align: center;
		}

		.fa-thumbs-o-up {
			color: #0DFF22;
		}

		.fa-thumbs-o-up:hover {
			cursor: pointer;
		}

		.fa-question-circle-o {
			color: #0DFF22;
		}

		.fa-smile-o {
			color: #0DFF22;
		}

		#Article #Comment {
			padding: 20px 20px 20px 20px;
			border-radius: 8px;
			border-width: 3px;
			border-color: #0D22FF;
			border-style: solid;
		}

		#Article #comment_buttons {
			font-size: 36px;
			display: flex;
			justify-content: space-between;
		}

		#Article .fa-star-o {
			color: #0DFF22;
		}

		#Article .fa-heart-o {
			color: #0DFF22;
		}

		#Article .fa-cubes {
			color: #0DFF22;
		}

		.fa-cubes:hover {
			cursor: pointer;
		}

		#Comment {
			display: none;
		}

		textarea {
			font-size: 20px;
			font-family: 'Oxygen', sans-serif;
			border-radius: 8px;
			border-width: 3px;
			margin-top: 20px;
			padding: 20px 20px 20px 20px;
			line-height: 70px;
			width: 100%;}

		#Article #respond #respond_buttons #Cancel{
			padding: 10px 10px 10px 10px;
			font-size: 20px;
			background-color: #ffffff;
			font-family: 'Oxygen', sans-serif;
			font-weight: bold;
			border-radius: 8px;
			border-width: 3px;
			border-color: #e9e9e9;
			border-style: solid;}

		#Article #respond #respond_buttons #Submit{
			padding: 10px 10px 10px 10px;
			font-size: 20px;
			background-color: #0DFF22;
			font-family: 'Oxygen', sans-serif;				
			font-weight: bold;
			border-radius: 8px;
			border-width: 3px;
			border-color: #0DFF22;
			border-style: solid;
			margin-left: 20px;}

		#respond_buttons {
			padding-top: 20px;
			display: flex;
			justify-content: flex-end;}

		@media only screen and (max-width: 480px) {
				#Menu {
					font-size: 24px;}

				#Article h1 {
					font-size: 24px;}

				#Article h2 {
					font-size: 18px;}

				#Article {
					font-size: 16px;
					margin-left: 15px;
					margin-right: 15px;}

				#Article #comment_buttons {
					font-size: 16px;}

				textarea {
					font-size: 16px;
				}

				#Article #respond #respond_buttons #Submit{
					font-size: 16px;
				}

				#Article #respond #respond_buttons #Cancel{
					font-size: 16px;
				}
			}